body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    margin: 0;
    height: 100%;
    color: gray;
    overflow-y: scroll;
}

.midle-button{
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
    background: linear-gradient(to right, rgb(0, 178, 185) , rgb(63, 181, 110));
    color: white;
    height: 38px;
    width: 300px;
}
.title{
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0,178, 185)
}
.profile-small{
    display: flex;  
    height: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 auto;
}
.active{
    font-weight: bold;
}
a{
    text-decoration: none;
}
ul{ 
    padding: 0;
}
li{
 list-style-type: none;
 margin-right: 15px;
}
.nav{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    height: 77px;
    background-color: #edeff2;
    align-items: center;
    margin: 0;
}
.nav li img{
    height: 30px;
    margin-left: 15px;
}
input::placeholder{
    font-size: 14px;
    color: 'gray';
}
input{
    width: 200px;

}
.flex{
    display: flex;
    align-items: center;
}

.item-lesson{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-lesson img{
    height: 20px;
}